/* font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Open+Sans&display=swap');
/* font-family: 'Libre Franklin', sans-serif;
font-family: 'Open Sans', sans-serif; */

body{
    font-family: 'Open Sans', sans-serif;
}


html{
    font-size: 62.5%;
}

.lista{
    display: flex;
    flex-direction: row;
    color:white;
    list-style: none;
    text-align: left;
    font-size: 150%;
    font-weight: bold;   
    justify-content: space-around;  
}

.centrar{
    color: white;
    text-decoration: underline;color: white;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}


h1{
    text-decoration: underline;
}


header{
    color: white;
    position: sticky;
    top: 0px;
    background-image: url(../medios/esscentials.jpg);
    height: 130px;
        }
    
    footer{
        background-color: black;           
    }

    footer img{
        width: 50px;        
     }

    .flex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
